<ActionBar title="Dashboard">
    <ActionItem android.systemIcon="ic_menu_cc" ios.position="right" (tap)="profileAction()"></ActionItem>
</ActionBar>
<side-drawer-page>
    <ScrollView orientation="vertical" horizontalAlignment="center" verticalAlignment="top">
        <StackLayout orientation="vertical" backgroundColor="#fcfbf2">
            <StackLayout>
                <Label class="h1 bold-head" text="Hi, Manager" horizontalAlignment="center" style="margin-top:20;margin-bottom:20;"></Label>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <GridLayout columns="*,*" rows="*,*" width="auto" height="100">
                    <Label class="bold-font" text="Funded Cases" col="0" row="0" horizontalAlignment="center" verticalAlignment="center"></Label>
                    <Label class="colorHead" text="6" col="1" row="0" color="#a6ce39" horizontalAlignment="center" verticalAlignment="center"></Label>
                    <Label class="bold-font" text="Funded Amount" col="0" row="1" horizontalAlignment="center" verticalAlignment="center"></Label>
                    <Label class="colorHead" text="$210,000.00" col="1" row="1" color="#a6ce39" horizontalAlignment="center"
                        verticalAlignment="center"></Label> </GridLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <Label class="h3" text="Cases:"></Label>
                <GridLayout columns="*,*" rows="30,30,30,30" width="auto" height="120">
                    <Label class="bold-font tabContent" text="Itria" row="0" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="6" row="0" col="1"></Label>
                    <Label class="bold-font tabContent" text="Non-Itria" row="1" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="0" row="1" col="1"></Label>
                    <Label class="bold-font tabContent" text="New" row="2" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="4" row="2" col="1"></Label>
                    <Label class="bold-font tabContent" text="Renewal" row="3" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="2" row="3" col="1"></Label> </GridLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <Label class="h3 " text="Amount: "></Label>
                <GridLayout columns="*,* " rows="30,30,30,30 " width="auto " height="120 ">
                    <Label class="bold-font tabContent" text="Itria" row="0 " col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="210,000.00" row="0 " col="1 "></Label>
                    <Label class="bold-font tabContent" text="Non-Itria" row="1 " col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="0.00" row="1 " col="1"></Label>
                    <Label class="bold-font tabContent" text="New " row="2" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="155,000.00" row="2" col="1 "></Label>
                    <Label class="bold-font tabContent " text="Renewal" row="3" col="0" backgroundColor="#ece7c8"></Label>
                    <Label class="tabContent" text="55,000.00" row="3" col="1"></Label> </GridLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <StackLayout>
                   <Label class="h2" text="Avg. BizAnalyzer Score" horizontalAlignment="center"></Label>      
                        <WrapLayout orientation="horizontal" horizontalAlignment="center" style="margin-top:10;margin-bottom:10;">
                        <GridLayout columns="*" rows="*,*" row="0" col="0" width="120">
                            <Label class="alignCenter roundCircle bold-font" text="51" row="0" col="0"></Label>
                            <Label class="alignCenter bold-font" text="Completed" row="1" col="0"></Label> </GridLayout>
                        <GridLayout columns="*" rows="*,*" row="0" col="1" width="120">
                            <Label class="alignCenter roundCircle bold-font" text="52" row="0" col="0"></Label>
                            <Label class="alignCenter bold-font" text="Funded" row="1" col="0"></Label> </GridLayout>
                    </WrapLayout>
                </StackLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <Label class="h2" textWrap="true" text="Lead pipeline - Status wise report in last 30 days"
                    horizontalAlignment="center" style="margin-left:20;margin-right:20;"></Label>
                <WrapLayout orientation="horizontal" horizontalAlignment="center">
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Fresh" row="1" col="0">
                            </Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Contact Attempted" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Qualified Docs Requested" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text=" Qualified not Interested" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Does not Qualify" row="1" col="0"></Label> </GridLayout>
                </WrapLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
                <Label class="h2" textWrap="true" text="Case pipeline - Status wise report in last 30 days"
                    horizontalAlignment="center" style="margin-left:20;margin-right:20;"></Label>
                <WrapLayout orientation="horizontal" horizontalAlignment="center">
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Qualified, Docs Requested" row="1" col="0">
                            </Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Submitted to Itria" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Approved by Underwriter" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Offer Accepted" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Ready for Funding" row="1" col="0"></Label> </GridLayout>
                    <GridLayout columns="*" rows="*,*" width="200" class="makemargin">
                        <Image src="~/images/box.png" stretch="aspectFit" horizontalAlignment="center" class="roundSCircle" width="70"
                            height="70"></Image>
                        <Label class="alignCenter bold-font" text="Funding call Requested" row="1" col="0"></Label> </GridLayout>
                </WrapLayout>
                <GridLayout height="1" style="background-color:#e8e8db;margin-bottom:10;"></GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</side-drawer-page>