Page {
    margin-top: -20;
}
.loginstack TextField {
    border-width: 1;
    border-color: #a6ce39;
}
.forgot-password-label {
    font-size: 13;
    color: black;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    padding: 10;
    font-size: 13;
    color: black;
    placeholder-color: #ACA6A7;
}